*{
    margin: 0;
    padding: 0;
}


.container1{
    padding-left: 11px;
    text-align: center;
    justify-content: center;
}

.container1>h1{
   font-size: 50px;
   font-weight: 500;
   color: rgb(69, 62, 77);
   padding-top: 15px;
    text-align: center;
    justify-content: center;
}

.container1>p {
    font-size: 15px;
    font-weight: 500;
    color: rgb(117, 111, 124);
    padding-top: 15px;
    padding-bottom: 15px;
     text-align: center;
     justify-content: center;
 }
 @media (max-width:991px){
    .container1>img{
        display: none;
    }
 }


